body {
    /*min-width: 1013px;*/
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    /*padding-bottom: 40px;*/
    /*background-color: #f5f5f5;*/
}

.navbar-inner .container {
    margin-left: 10px;
}

#feature-list, #problem-list {
    table-layout: fixed;
}

#feature-list td, #problem-list td {
    white-space: nowrap;
    overflow:hidden;
}

#feature-list td.title, #problem-list td.flex {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 100%;
}

form .select2-container {
    margin-left: 0;
}

.modal-team {
    /* new custom width */
    width: 300px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -150px;
}

.team-staff-level {
    padding: 0;
    margin: 0;
}

.team-staff-level input {
    margin: 0;
    width: 20px;
}

.team-staff-level-unscheduled {
    background-color: #f7f7f7 !important;
}

.team-staff-level-underutilized {
    background-color: #e2ffda !important;
}

.team-staff-level-ok {
    background-color: #c5ffbf !important;
}

.team-staff-level-critical {
    background-color: #ffacae !important;
}

.arr-field {
    width: 45%;
    text-align: right;
}

.modal-tag-edit {
    /* new custom width */
    width: 300px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -150px;
}

td.text-right, th.text-right {
    text-align: right;
}

a.ng-binding {
    cursor: pointer;
}

#loading-mask {
    opacity: 50;
    z-index:9999;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #b0b0b0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}

#loading-mask h1 {
    text-align: center;
    margin-top: 200px;
}

.quickNavLinks {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
/*
todo: can't do this until figure out how to make the border blend nicely with the suggested values
#problem-search ul.select2-choices {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
*/

input.ng-dirty.ng-invalid {
    border: 1px solid red !important;
}

.form-big-inputs {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-big-inputs .checkbox {
    margin-bottom: 10px;
}

.form-big-inputs input[type="text"],
.form-big-inputs input[type="password"],
.form-big-inputs input[type="email"]{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wrap > .container {
    padding-top: 60px;
}
