@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

.navbar {
    position: inherit !important;
    margin-bottom: 20px;
}

.navbar-inner .container {
    margin-left: 10px;
}

.list-header-search, .list-header-search .search-query {
    width: 290px !important;
}

.list-header-create div {
    margin-top: 8px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 100%;
}

.list-header-pagination {
    width: 470px !important;
    text-align: right;
}

.list-header-pagination .pagination {
    margin: 0;
}

@media (min-width: 1200px) {
    .list-header-search, .list-header-search .search-query {
        width: 470px !important;
    }

    .list-header-create {

    }

    .list-header-pagination {

    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .list-header-search, .list-header-search .search-query {
        width: 470px !important;
    }

    .list-header-create {
        width: 140px;
    }

    .list-header-pagination {
        text-align: left;
    }

    .list-header-pagination .pagination {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .list-header-search, .list-header-search .search-query {
        width: 100% !important;
    }

    .list-header-search form {
        margin-bottom: 5px;
    }

    .list-header-create {

    }

    .list-header-pagination {
        text-align: left;
    }

    .list-header-pagination .pagination {
        margin-top: 5px;
    }
}

#feature-list, #problem-list, .related-list {
    table-layout: fixed;
}

#feature-list td, #problem-list td, .related-list td {
    white-space: nowrap;
    overflow:hidden;
}

#feature-list td.title, #problem-list td.flex, .related-list td.title {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 100%;
}

.list-checkbox input {
    margin-top: 0;
}

.bulk-edit-panel {
    padding-bottom: 20px;
}

.metadata-label {
    padding-right: 10px;
    vertical-align: top;
}

form .select2-container {
    margin-left: 0;
    margin-bottom: 10px;
}

.modal-team {
    /* new custom width */
    width: 300px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -150px;
}

.team-staff-level {
    padding: 0;
    margin: 0;
}

.team-staff-level input {
    margin: 0;
    width: 20px;
}

.team-staff-level-unscheduled {
    background-color: #f7f7f7 !important;
}

.team-staff-level-underutilized {
    background-color: #e2ffda !important;
}

.team-staff-level-ok {
    background-color: #c5ffbf !important;
}

.team-staff-level-critical {
    background-color: #ffacae !important;
}

.arr-field {
    width: 45%;
    text-align: right;
}

.modal-tag-edit {
    /* new custom width */
    width: 300px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -150px;
}

td.text-right, th.text-right {
    text-align: right;
}

a.ng-binding {
    cursor: pointer;
}

#loading-mask {
    opacity: 50;
    z-index:9999;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #b0b0b0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}

#loading-mask h1 {
    text-align: center;
    margin-top: 200px;
}

.quickNavLinks {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
/*
todo: can't do this until figure out how to make the border blend nicely with the suggested values
#problem-search ul.select2-choices {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
*/

input.ng-dirty.ng-invalid {
    border: 1px solid red !important;
}

.form-big-inputs {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-big-inputs .checkbox {
    margin-bottom: 10px;
}

.form-big-inputs input[type="text"],
.form-big-inputs input[type="password"],
.form-big-inputs input[type="email"]{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}