<form class="form-big-inputs">
    <h2>New Category</h2>
    <input type="text" class="input-block-level" ng-model="category.name" autofocus="true" placeholder="Category">
    <button class="btn btn-large btn-primary" ng-click="newCategory(category)" type="submit">Create</button>
</form>

<span class="error" ng-show="error == null">{{error}}</span>

<hr/>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories | orderBy:'name'">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td><a ng-click="confirmSelection(category)" bs-modal="'templates/delete-category.html'"><i class="icon-trash"></i></a></td>
    </tr>
    </tbody>
</table>
