<h3>Problem Statistics</h3>

<div class="row">
    <div class="span4">
        <table id="global-stats" class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>This week</th>
                <th>Last week</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>New problems</td>
                <td>
                    <span tooltip="{{stats.newProblemsThisWeek.revenue | noFractionCurrency}}">{{stats.newProblemsThisWeek.count | number}}</span>
                </td>
                <td>
                    <span tooltip="{{stats.newProblemsLastWeek.revenue | noFractionCurrency}}">{{stats.newProblemsLastWeek.count | number}}</span>
                </td>
            </tr>
            <tr>
                <td>Modified problems</td>
                <td>
                    <span tooltip="{{stats.modifiedProblemsThisWeek.revenue | noFractionCurrency}}">{{stats.modifiedProblemsThisWeek.count | number}}</span>
                </td>
                <td>
                    <span tooltip="{{stats.modifiedProblemsLastWeek.revenue | noFractionCurrency}}">{{stats.modifiedProblemsLastWeek.count | number}}</span>
                </td>
            </tr>
            </tbody>
        </table>

        There are <a ng-click="unassignedOpenProblems()" tooltip="{{stats.unassignedOpenProblems.revenue | noFractionCurrency}}">{{stats.unassignedOpenProblems.count | number}}</a> unassigned, open problems.
    </div>
    <div class="span8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Open</th>
                <th>... this week</th>
                <th>Reviewed</th>
                <th>... unmapped</th>
                <th>Resolved</th>
                <th>Notified</th>
            </tr>
            </thead>
            <tr ng-repeat="(email, stats) in stats.assigneeStats | orderBy:'email'">
                <td>{{email}}</td>
                <td>
                    <a ng-click="openProblems(email)" tooltip="{{stats.openProblems.revenue | noFractionCurrency}}">{{stats.openProblems.count | number}}</a>
                </td>
                <td>
                    <span tooltip="{{stats.openProblemsThisWeek.revenue | noFractionCurrency}}">{{stats.openProblemsThisWeek.count | number}}</span>
                </td>
                <td>
                    <a ng-click="reviewedProblems(email)" tooltip="{{stats.reviewedProblems.revenue | noFractionCurrency}}">{{stats.reviewedProblems.count | number}}</a>
                </td>
                <td>
                    <a ng-click="reviewedUnmappedProblems(email)" tooltip="{{stats.reviewedUnmappedProblems.revenue | noFractionCurrency}}">{{stats.reviewedUnmappedProblems.count | number}}</a>
                </td>
                <td>
                    <a ng-click="resolvedProblems(email)" tooltip="{{stats.resolvedProblems.revenue | noFractionCurrency}}">{{stats.resolvedProblems.count | number}}</a>
                </td>
                <td>
                    <a ng-click="notifiedProblems(email)" tooltip="{{stats.notifiedProblems.revenue | noFractionCurrency}}">{{stats.notifiedProblems.count | number}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<h3>Recent Updates</h3>

<p>
    The following is the changelog for the roadmapper tool. Want to see some more improvements? Open an issue on <a href="http://github.com/lightbody/roadmapper">Github</a>!
</p>

<div>
    <h4>December 27, 2013</h4>

    <ul>
        <li>Pagination for features and problems</li>
        <li>Removed modal dialog boxes in favor of separate pages</li>
        <li>Bonus: you can now open problems and features in new windows (Cmd-Click)</li>
        <li>Forms can be quickly submitted using Cmd-Enter</li>
        <li>The features table will hide the state, quarter, and team columns if you are searching by those criteria</li>
        <li>The UI now works much better on an iPhone 5 and iPad</li>
        <li>Option to quickly "create another" problem, useful for rapid entry from customer support</li>
        <li>When browsing features and problems you can quickly jump to the previous/next</li>
        <li>Improved performance in many areas</li>
    </ul>

    <h4>September 11, 2013</h4>

    <ul>
        <li>First pass at a tag management UI</li>
        <li>Internal improvement: removed password field from users table since we're 100% on OAuth now</li>
    </ul>

    <h4>September 8, 2013</h4>

    <ul>
        <li>Teams can now have customizable utilization rates rather than the default of 40%</li>
        <li>Cache busting logic should help with Firefox and Chrome bugs reported</li>
        <li>Internal errors will at least report a generic error now, rather than a blank red box</li>
        <li>Global stats showing off activity this week and last week</li>
        <li>Much improved table design in problems and features -- use your whole screen real-estate!</li>
        <li>Resolved some (but not all) glitches with autocomplete race condition issues</li>
    </ul>
</div>

