<a href="#/features/new">Create new feature</a>

<hr/>

<div class="span5" style="margin-left: 0">
    <form id="feature-search" class="form-search" ng-submit="search()">
        <input type="text" class="span5" ng-model="junk" ui-select2="querySelect2Options">
    </form>
</div>

<div class="span2" style="margin: 6px auto auto 6px">
    <img src="/img/spinner.gif" width="16" height="16" ng-show="!queryReturned"/>
</div>

<div class="text-right">
    <div ng-show="features.length > numPerPage" class="no-selection">
        <pagination num-pages="numPages()"
                    current-page="currentPage" max-size="maxSize"
                    boundary-links="true"></pagination>
    </div>
</div>

<table id="feature-list" class="table table-striped table-hover" ng-show="queryReturned">
    <thead>
    <tr>
        <th style="width: 2em"><a href="" ng-click="predicate = 'id'; reverse=!reverse">ID</a></th>
        <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
        <th style="width: 3em"><a href="" ng-click="predicate = 'engineeringCost'; reverse=!reverse">Cost</a></th>
        <th style="width: 3em"><a href="" ng-click="predicate = 'revenueBenefit'; reverse=!reverse">Rev</a></th>
        <th style="width: 3em"><a href="" ng-click="predicate = 'retentionBenefit'; reverse=!reverse">Ret</a></th>
        <th style="width: 3em"><a href="" ng-click="predicate = 'positioningBenefit'; reverse=!reverse">Pos</a></th>
        <th style="width: 2em" class="text-right"><a href="" ng-click="predicate = 'score'; reverse=!reverse">Score</a></th>
        <th style="width: 3em" class="text-right"><a href="" ng-click="predicate = 'problemCount'; reverse=!reverse">Probs</a></th>
        <th style="width: 6em" class="text-right"><a href="" ng-click="predicate = 'problemRevenue'; reverse=!reverse">ARR</a></th>
        <th style="width: 2em"><a href="" ng-click="predicate = 'quarter'; reverse=!reverse">Qtr</a></th>
        <th style="width: 6em"><a href="" ng-click="predicate = 'team.name'; reverse=!reverse">Team</a></th>
        <th style="width: 3em"><a href="" ng-click="predicate = 'lastModified'; reverse=!reverse">Mod</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feature in filteredFeatures">
        <td>{{feature.id}}</td>
        <td class="title">
            <a href="#/features/{{feature.id}}">{{feature.title}}</a>
        </td>
        <td>{{feature.engineeringCost | size}}</td>
        <td>{{feature.revenueBenefit | size}}</td>
        <td>{{feature.retentionBenefit| size}}</td>
        <td>{{feature.positioningBenefit| size}}</td>
        <td class="text-right"><span ng-show="feature.score > 0">{{feature.score}}</span></td>
        <td class="text-right"><a ng-click="selectProblems(feature)" ng-show="feature.problemCount > 0">{{feature.problemCount}}</a></td>
        <td class="text-right"><span ng-show="feature.problemRevenue  > 0">{{feature.problemRevenue | noFractionCurrency}}</span></td>
        <td><span tooltip="{{feature.quarter | longQuarter}}">{{feature.quarter | shortQuarter}}</span></td>
        <td>{{feature.team.name}}</td>
        <td><span tooltip="{{feature.lastModifiedBy.name}} on {{feature.lastModified | date}}" tooltip-placement="left">{{feature.lastModified | date:'MMM d'}}</span></td>
    </tr>
    </tbody>

</table>
