<div class="row list-header">
    <div class="span5 list-header-search">
        <form id="feature-search" class="form-search" ng-submit="featureService.search()">
            <input type="text" class="span5 search-query" ng-model="junk" roadmapper-ui-select2="querySelect2Options" roadmapper-ui-select2-model="featureService.query">
        </form>
    </div>

    <div class="span2 list-header-create">
        <div>
            <img src="/img/spinner.gif" width="16" height="16" ng-show="!featureService.queryReturned"/>
            <a href="#/features/new" ng-show="checkRole('PM')">Create new feature</a>
        </div>
    </div>

    <div class="span5 list-header-pagination">
        <div ng-show="featureService.features.length > featureService.numPerPage" class="no-selection">
            <pagination class="pagination-sm"
                        num-pages="featureService.numPages()"
                        current-page="featureService.currentPage"
                        max-size="featureService.maxSize"
                        boundary-links="true"></pagination>
        </div>
    </div>
</div>

<table id="feature-list" class="table table-striped table-hover" ng-show="featureService.queryReturned">
    <thead>
    <tr>
        <th style="width: 2em"><a href="" ng-click="featureService.sort('id')">ID</a></th>
        <th><a href="" ng-click="featureService.sort('title')">Title</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('state')"><a href="" ng-click="featureService.sort('state')">State</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('engineeringCost')"><a href="" ng-click="featureService.sort('engineeringCost')">Cost</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('revenueBenefit')"><a href="" ng-click="featureService.sort('revenueBenefit')">Rev</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('retentionBenefit')"><a href="" ng-click="featureService.sort('retentionBenefit')">Ret</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('positioningBenefit')"><a href="" ng-click="featureService.sort('positioningBenefit')">Pos</a></th>
        <th style="width: 2em" class="text-right"><a href="" ng-click="featureService.sort('score')">Score</a></th>
        <th style="width: 3em" class="text-right"><a href="" ng-click="featureService.sort('problemCount')">Probs</a></th>
        <th style="width: 6em" class="text-right"><a href="" ng-click="featureService.sort('problemRevenue')">ARR</a></th>
        <th style="width: 2em" ng-show="featureService.shouldShow('quarter')"><a href="" ng-click="featureService.sort('quarter')">Qtr</a></th>
        <th style="width: 6em" ng-show="featureService.shouldShow('team')"><a href="" ng-click="featureService.sort('team.name')">Team</a></th>
        <th style="width: 3em" ng-show="featureService.shouldShow('lastModified')"><a href="" ng-click="featureService.sort('lastModified')">Mod</a></th>
        <th ng-show="checkRole('PM')" style="width: 1em"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="feature in featureService.filteredFeatures">
        <td>{{feature.id}}</td>
        <td class="title">
            <a href="#/features/{{feature.id}}" ng-click="featureService.selectFeature(feature, $event)">{{feature.title}}</a>
        </td>
        <td ng-show="featureService.shouldShow('state')">{{feature.state}}</td>
        <td ng-show="featureService.shouldShow('engineeringCost')">{{feature.engineeringCost | size}}</td>
        <td ng-show="featureService.shouldShow('revenueBenefit')">{{feature.revenueBenefit | size}}</td>
        <td ng-show="featureService.shouldShow('retentionBenefit')">{{feature.retentionBenefit| size}}</td>
        <td ng-show="featureService.shouldShow('positioningBenefit')">{{feature.positioningBenefit| size}}</td>
        <td class="text-right"><span ng-show="feature.score > 0">{{feature.score}}</span></td>
        <td class="text-right"><a ng-click="problemService.selectProblems(feature)" ng-show="feature.problemCount > 0">{{feature.problemCount}}</a></td>
        <td class="text-right"><span ng-show="feature.problemRevenue  > 0">{{feature.problemRevenue | noFractionCurrency}}</span></td>
        <td ng-show="featureService.shouldShow('quarter')"><span tooltip="{{feature.quarter | longQuarter}}">{{feature.quarter | shortQuarter}}</span></td>
        <td ng-show="featureService.shouldShow('team')">{{feature.team.name}}</td>
        <td ng-show="featureService.shouldShow('lastModified')"><span tooltip="{{feature.lastModifiedBy.name}} on {{feature.lastModified | date}}" tooltip-placement="left">{{feature.lastModified | date:'MMM d'}}</span></td>
        <td ng-show="checkRole('PM')"><a href="" ng-click="showDeleteFeatureModal(feature)"><i class="icon-trash"></i></a></td>
    </tr>
    </tbody>

</table>

<div modal="deleteFeatureModal" close="closeDeleteFeatureModal()" options="modalOptions">
    <div class="modal-header">
        <h3>Delete feature <em>{{selectedFeature.title}}</em>?</h3>
    </div>
    <div class="modal-body">

        <p>Are you sure you want to do this? This operation cannot be undone!</p>

        <p ng-show="selectedFeature.problemCount > 0">If you proceed, the feature will be disassociated from {{selectedFeature.problemCount}} problem<span ng-show="selectedFeature.problemCount > 1">s</span> worth ${{selectedFeature.problemRevenue}} ARR.</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeDeleteFeatureModal()">Cancel</button>
        <button class="btn btn-primary" ng-click="deleteFeature(selectedFeature)" type="submit">Confirm</button>
    </div>
</div>
