<div id="signin">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" ng-model="user.email" class="input-block-level" placeholder="Email address">
        <input type="password" ng-model="user.password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" ng-click="submit(user)" type="submit">Sign in</button>
        <span class="error" ng-show="unauthorized">Boo!</span>
    </form>
</div>
