<div id="signin">
    <form name="loginForm" class="form-big-inputs" novalidate>
        <h2>Please log in</h2>

        <div class="alert alert-info" ng-show="forgotPasswordEmailed">
            Check your email for password reset instructions.
        </div>
        <div ng-include="'templates/validation.html'"></div>

        <input type="email" ng-model="user.email" class="input-block-level" placeholder="Email address" autofocus="autofocus" required>
        <input type="password" ng-model="user.password" class="input-block-level" placeholder="Password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="remember"> Remember me
        </label>
        <button class="btn btn-large btn-primary" ng-click="submit(user)" type="submit" ng-disabled="loginForm.$invalid">Log in</button>
        <button class="btn btn-large btn-primary" ng-click="forgotPassword(user.email)" type="submit" ng-disabled="user.email == null">Forgot password?</button>

    </form>
</div>
