<h3>Create new feature</h3>

<form name="newFeatureForm" novalidate cmd-enter="cmdEnter()">

    <div ng-include="'validation.html'"></div>

    <div class="controls">
        <input id="newFeatureFirstInput" type="text" class="span8" ng-model="newFeature.title" autofocus="autofocus" placeholder="Feature" required>
    </div>

    <div class="controls controls-row">
        <textarea class="span8" rows="10" ng-model="newFeature.description" placeholder="Extended Description"></textarea>
    </div>

    <div class="controls controls-row">
        <select class="span2" ng-model="newFeature.engineeringCost" ng-options="e for e in enumSizes">
            <option value="">Engineering cost</option>
        </select>
        <select class="span2" ng-model="newFeature.revenueBenefit" ng-options="e for e in enumSizes">
            <option value="">Revenue benefits</option>
        </select>
        <select class="span2" ng-model="newFeature.retentionBenefit" ng-options="e for e in enumSizes">
            <option value="">Retention benefits</option>
        </select>
        <select class="span2" ng-model="newFeature.positioningBenefit" ng-options="e for e in enumSizes">
            <option value="">Positioning benefits</option>
        </select>
    </div>

    <div class="controls controls-row">
        <input type="hidden" class="span2" ui-select2="teamSelect2Options" ng-model="newFeature.team" placeholder="Team"/>
        <input type="hidden" class="span2" ui-select2="assigneeSelect2Options" ng-model="newFeature.assignee" placeholder="Product Manager"/>
        <select class="span2" ng-model="newFeature.quarter" ng-options="q.id as q.label for q in enumActiveQuarters">
            <option value="">Unscheduled</option>
        </select>
        <select class="span2" ng-model="newFeature.state" ng-options="e for e in enumFeatureStates" required>
            <option value="">Status</option>
        </select>
    </div>

    <div class="controls controls-row">
        <input type="text" class="span8" roadmapper-ui-select2="tagSelect2Options" ng-model="junk" roadmapper-ui-select2-model="newFeature.tags" placeholder="Tags"/>
    </div>

</form>

<div class="row">
    <div class="span5" style="padding-bottom: 20px;">
        <button class="btn btn-warning cancel" ng-click="cancelNewFeature()">Cancel</button>
        <button class="btn btn-primary" ng-click="createFeature(newFeature)" ng-disabled="newFeatureForm.$invalid" type="submit">Create</button>
        <div class="checkbox" style="display: inline-block; vertical-align: bottom">
            <label>
                <input type="checkbox" ng-model="createAnother"> Create another
            </label>
        </div>

    </div>
    <div class="span2" style="text-align: right">
        <span ng-show="saved">
            Created feature {{saved}}!
        </span>

        <img src="/img/spinner.gif" width="16" height="16" ng-show="saving"/>
    </div>
</div>
