<form class="form-big-inputs">
    <h2>New Feature</h2>
    <input type="text" class="input-block-level" ng-model="feature.description" autofocus="true" placeholder="Feature Description">
    <select ng-model="feature.engineeringCost" ng-options="e for e in enumSizes"></select>
    <select ng-model="feature.operationalBenefit" ng-options="e for e in enumSizes"></select>
    <select ng-model="feature.revenueBenefit" ng-options="e for e in enumSizes"></select>
    <select ng-model="feature.retentionBenefit" ng-options="e for e in enumSizes"></select>
    <select ng-model="feature.positioningBenefit" ng-options="e for e in enumSizes"></select>
    <select ng-model="feature.team" ng-options="t.id as t.name for t in teams"></select>
    <select ng-model="feature.quarter" ng-options="q for q in enumQuarters"></select>
    <button class="btn btn-large btn-primary" ng-click="submit(feature)" type="submit">Create</button>
</form>

<span class="error" ng-show="error == null">{{error}}</span>
