        <h3>Record new problem</h3>

        <form name="newProblemForm" novalidate cmd-enter="cmdEnter()">

            <div ng-include="'validation.html'"></div>

            <div class="controls">
                <textarea class="span7" rows="10" ng-model="newProblem.description" autofocus="autofocus" placeholder="Problem Description" required></textarea>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span3" ng-model="newProblem.customerName" placeholder="Customer Name" required>
                <input type="text" class="span4" ng-model="newProblem.customerCompany" placeholder="Customer Company" required>
            </div>

            <div class="controls controls-row">
                <input type="email" class="span3" ng-model="newProblem.customerEmail" placeholder="Customer Email (or your email)" required>
                <input type="text" class="span2" ng-model="newProblem.accountId" placeholder="Account ID (if known)" integer>

                <div class="span2">
                    <div class="controls input-prepend input-append">
                        <span class="add-on">$</span>
                        <input type="text" class="arr-field" ng-model="newProblem.annualRevenue" placeholder="ARR" integer>
                        <span class="add-on">.00</span>
                    </div>
                </div>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" ng-model="newProblem.url" placeholder="URL (Optional)">
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" roadmapper-ui-select2="tagSelect2Options" ng-model="junk" roadmapper-ui-select2-model="newProblem.tags"/>
            </div>

            <div class="controls controls-row">

            </div>
        </form>

        <div class="row">
            <div class="span5" style="padding-bottom: 20px;">
                <button class="btn btn-warning cancel" ng-click="cancelNewProblem()">Cancel</button>
                <button class="btn btn-primary" ng-click="createProblem(newProblem)" ng-disabled="newProblemForm.$invalid" type="submit">Create</button>
                <div class="checkbox" style="display: inline-flex">
                    <label>
                        <input type="checkbox" ng-model="createAnother"> Create another
                    </label>
                </div>

            </div>
            <div class="span2" style="text-align: right">
                <span ng-show="saved">
                    Created problem {{saved}}!
                </span>

                <img src="/img/spinner.gif" width="16" height="16" ng-show="saving"/>
            </div>
        </div>

