<a ng-click="showNewProblemModal()">Create new problem</a>

<hr/>

<h1>Open Problems</h1>

<table>
    <thead>
    <tr>
        <th>Reporter</th>
        <th>Company</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="problem in openProblems">
        <td><a href="mailto:{{problem.customerEmail}}">{{problem.customerName}}</a></td>
        <td>{{problem.customerCompany}}</td>
        <td>{{problem.date | date}}</td>
        <td><a ng-click="editProblem(problem)">{{problem.description | truncate:30}}</a></td>
    </tr>
    </tbody>
</table>

<div modal="showNewProblem" close="closeNewProblem()" options="modalOptions">
    <div class="modal-header">
        <h3>Record new problem</h3>
    </div>
    <div class="modal-body">

        <form>

            <div class="controls">
                <textarea class="span7" rows="10" ng-model="newProblem.description" autofocus="autofocus" placeholder="Problem Description" required></textarea>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span3" ng-model="newProblem.customerName" placeholder="Customer Name" required>
                <input type="text" class="span4" ng-model="newProblem.customerCompany" placeholder="Customer Company" required>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span3" ng-model="newProblem.customerEmail" placeholder="Customer Email" required>
                <input type="text" class="span2" ng-model="newProblem.accountId" placeholder="Account ID (if known)" integer>

                <input type="text" class="span2" ng-model="newProblem.annualRevenue" placeholder="ARR" integer>

                <!--<div class="span2 controls input-prepend input-append">-->
                <!--<span class="add-on">$</span>-->
                <!--<input type="text" ng-model="newProblem.annualRevenue" placeholder="ARR">-->
                <!--<span class="add-on">.00</span>-->
                <!--</div>-->
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" ng-model="newProblem.url" placeholder="URL (Optional)">
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" ui-select2="select2Options" ng-model="newProblem.tags"/>
            </div>

        </form>

        <span class="error" ng-show="error == null">{{error}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeNewProblem()">Cancel</button>
        <button class="btn btn-primary" ng-click="createProblem(newProblem)">Confirm</button>
    </div>
</div>

<div modal="showViewProblem" close="closeViewProblem()" options="modalOptions">
    <div class="modal-header">
        <h3>Problem #{{selectedProblem.id}}</h3>
    </div>
    <div class="modal-body">

        <form>
            <div class="controls">
                <textarea class="span7" rows="10" ng-model="selectedProblem.description" autofocus="autofocus" placeholder="Problem Description" required></textarea>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span3" ng-model="selectedProblem.customerName" placeholder="Customer Name" required>
                <input type="text" class="span4" ng-model="selectedProblem.customerCompany" placeholder="Customer Company" required>
            </div>

            <div class="controls controls-row">
                <input type="text" class="span3" ng-model="selectedProblem.customerEmail" placeholder="Customer Email" required>
                <input type="text" class="span2" ng-model="selectedProblem.accountId" placeholder="Account ID (if known)" integer>

                <input type="text" class="span2" ng-model="selectedProblem.annualRevenue" placeholder="ARR" integer>

                <!--<div class="span2 controls input-prepend input-append">-->
                    <!--<span class="add-on">$</span>-->
                    <!--<input type="text" ng-model="selectedProblem.annualRevenue" placeholder="ARR">-->
                    <!--<span class="add-on">.00</span>-->
                <!--</div>-->
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" ng-model="selectedProblem.url" placeholder="URL (Optional)">
            </div>

            <div class="controls controls-row">
                <input type="text" class="span7" ui-select2="select2Options" ng-model="selectedProblem.tags"/>
            </div>
        </form>

        <span class="error" ng-show="error == null">{{error}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeViewProblem()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveProblem(selectedProblem)">Confirm</button>
    </div>
</div>
