<a ng-click="showNewProblemModal()">Create new problem</a>

<hr/>

<h1>Open Problems</h1>

<table>
    <thead>
    <tr>
        <th>Reporter</th>
        <th>Company</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="problem in openProblems">
        <td><a href="mailto:{{problem.customerEmail}}">{{problem.customerName}}</a></td>
        <td>{{problem.customerCompany}}</td>
        <td>{{problem.date | date}}</td>
        <td><a ng-click="editProblem(problem)">{{problem.description | truncate:30}}</a></td>
    </tr>
    </tbody>
</table>

<div modal="showNewProblem" close="closeNewProblem()" options="modalOptions">
    <div class="modal-header">
        <h3>Record new problem</h3>
    </div>
    <div class="modal-body">

        <form class="form-big-inputs">
            <h2>New Problem</h2>
            <input type="text" class="input-block-level" ng-model="newProblem.description" autofocus="true" placeholder="Problem Description" required>
            <input type="text" class="input-block-level" ng-model="newProblem.customerName" placeholder="Customer Name" required>
            <input type="email" class="input-block-level" ng-model="newProblem.customerEmail" placeholder="Customer Email" required>
            <input type="text" class="input-block-level" ng-model="newProblem.customerCompany" placeholder="Customer Company" required>
            <input type="number" class="input-block-level" ng-model="newProblem.accountId" placeholder="Account ID (if known)" integer>
            <input type="number" class="input-block-level" ng-model="newProblem.annualRevenue" placeholder="Account ARR / Opportunity Size" integer>
            <input type="url" class="input-block-level" ng-model="newProblem.url" placeholder="URL (Optional)">
            <input type="text" ui-select2="select2Options" ng-model="newProblem.tags" style="width:300px"/>
        </form>

        <span class="error" ng-show="error == null">{{error}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeNewProblem()">Cancel</button>
        <button class="btn btn-primary" ng-click="createProblem(newProblem)">Confirm</button>
    </div>
</div>

<div modal="showViewProblem" close="closeViewProblem()" options="modalOptions">
    <div class="modal-header">
        <h3>Problem #{{selectedProblem.id}}</h3>
    </div>
    <div class="modal-body">

        <form class="form-big-inputs">
            <input type="text" class="input-block-level" ng-model="selectedProblem.description" autofocus="true" placeholder="Problem Description">
            <input type="text" class="input-block-level" ng-model="selectedProblem.customerName" placeholder="Customer Name">
            <input type="text" class="input-block-level" ng-model="selectedProblem.customerEmail" placeholder="Customer Email">
            <input type="text" class="input-block-level" ng-model="selectedProblem.customerCompany" placeholder="Customer Company">
            <input type="text" class="input-block-level" ng-model="selectedProblem.accountId" placeholder="Account ID (if known)">
            <input type="text" class="input-block-level" ng-model="selectedProblem.annualRevenue" placeholder="Account ARR / Opportunity Size">
            <input type="text" class="input-block-level" ng-model="selectedProblem.url" placeholder="URL (Optional)">
            <input type="text" ui-select2="select2Options" ng-model="selectedProblem.tags" style="width:300px"/>
        </form>

        <span class="error" ng-show="error == null">{{error}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeViewProblem()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveProblem(selectedProblem)">Confirm</button>
    </div>
</div>
