<form name="signupForm" class="form-big-inputs" novalidate>
    <h2>Sign up</h2>

    <div ng-include="'templates/validation.html'"></div>

    <input type="email" class="input-block-level" ng-model="user.email" placeholder="Email address" autofocus="autofocus" required>
    <input type="text" class="input-block-level" ng-model="user.name" placeholder="First and Last Name" required>
    <input type="password" class="input-block-level" ng-model="user.password" placeholder="Password" required>
    <input type="password" class="input-block-level" ng-model="confirmPassword" placeholder="Password (again)" required>
    <button class="btn btn-large btn-primary" ng-click="submit(user)" type="submit" ng-disabled="signupForm.$invalid || confirmPassword != user.password">Sign up</button>

</form>
