<div class="row">
    <div class="span8">
        <form name="tagFilterForm" novalidate>
            <div class="controls controls-row">
                <input type="hidden" class="span3" ui-select2="assigneeSelect2Options" ng-model="assignee" placeholder="Filter by assignee"/>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th colspan="4">Problems</th>
        <th>Features</th>
        <th ng-show="checkRole('PM')"></th>
    </tr>
    <tr>
        <th><a href="" ng-click="predicate = 'tag'; reverse=!reverse">Tag</a></th>
        <th><a href="" ng-click="predicate = 'openProblems'; reverse=!reverse">Open</a></th>
        <th><a href="" ng-click="predicate = 'reviewedProblems'; reverse=!reverse">Reviewed</a></th>
        <th><a href="" ng-click="predicate = 'unresolvedProblems'; reverse=!reverse">Total</a></th>
        <th><a href="" ng-click="predicate = 'unresolvedArr'; reverse=!reverse">ARR</a></th>
        <th><a href="" ng-click="predicate = 'openFeatures'; reverse=!reverse">Open</a></th>
        <th ng-show="checkRole('PM')" ng-hide="assignee.id"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tag in tags | orderBy:predicate:reverse">
        <td>{{tag.tag}}</td>
        <td><a href="" ng-click="selectProblemsByTag(tag, 'OPEN')">{{tag.openProblems}}</a></td>
        <td><a href="" ng-click="selectProblemsByTag(tag, 'REVIEWED')">{{tag.reviewedProblems}}</a></td>
        <td>{{tag.unresolvedProblems}}</td>
        <td>{{tag.unresolvedArr | noFractionCurrency}}</td>
        <td><a href="" ng-click="selectFeaturesByTag(tag, 'OPEN')">{{tag.openFeatures}}</a></td>
        <td ng-show="checkRole('PM')" ng-hide="assignee.id"><a href="" ng-click="showEditTagModal(tag)"><i class="icon-edit"></i></a> <a href="" ng-click="showDeleteTagModal(tag)"><i class="icon-trash"></i></a></td>
    </tr>
    </tbody>
</table>

<div modal="editTagModal" close="closeEditTagModal()" options="modalOptions">
    <div class="modal-header">
        <h3>Edit tag <em>{{selectedTag.tag}}</em></h3>
    </div>
    <div class="modal-body">

        <form ng-submit="editTag(selectedTag, updatedTag)">

            <p>Changing the tag will cause {{selectedTag.unresolvedProblems}} problem(s) and {{selectedTag.unresolvedFeatures}} feature(s) to be modified.</p>

            <p>Warning: if you rename the tag to an existing tag, they will be merged together. This operation cannot be undone.</p>

            <div class="controls">
                <input type="text" class="span3" ng-model="updatedTag" autofocus="autofocus" placeholder="tag" required/>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeEditTagModal()">Cancel</button>
        <button class="btn btn-primary" ng-click="editTag(selectedTag, updatedTag)" type="submit">Save</button>
    </div>
</div>

<div modal="deleteTagModal" close="closeDeleteTagModal()" options="modalOptions">
    <div class="modal-header">
        <h3>Delete tag <em>{{selectedTag.tag}}</em>?</h3>
    </div>
    <div class="modal-body">

        <p>Are you sure you want to do this? This operation cannot be undone!</p> 
        
        <p>If you proceed, the tag will be removed from {{selectedTag.unresolvedProblems}} problem(s) and {{selectedTag.unresolvedFeatures}} feature(s).</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeDeleteTagModal()">Cancel</button>
        <button class="btn btn-primary" ng-click="deleteTag(selectedTag)" type="submit">Confirm</button>
    </div>
</div>
