<a ng-click="showNewTeamModal()" ng-show="checkRole('PM')">Create new team</a>

<hr/>

<table class="teams-table table table-striped table-hover">
    <thead>
    <tr>
        <th>Team</th>
        <th>% Util.</th>
        <th ng-repeat="quarter in enumActiveQuarters">{{quarter.label}}</th>
        <th ng-show="checkRole('PM')" style="width: 1em"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams">
        <td>
            <span ng-show="!checkRole('PM')">{{team.name}}</span>
            <input ng-show="checkRole('PM')" ng-change="saveTeam(team)" ng-model="team.name" type="text" class="input-medium"/>
        </td>
        <td>
            <span ng-show="!checkRole('PM')">{{team.utilization}}</span>
            <input ng-show="checkRole('PM')" ng-change="saveTeam(team)" ng-model="team.utilization" type="text" class="input-mini"/>
        </td>
        <td ng-repeat="quarter in enumActiveQuarters">
            <form class="team-staff-level" ng-submit="saveStaffLevel(team, quarter.id)">
                <span ng-show="!checkRole('PM')" tooltip="{{team.quarterStaffSummary[quarter.id].scheduled | number:1}} engineers scheduled" class="team-staff-level-{{checkStaffing(team.quarterStaffSummary[quarter.id])}}">{{team.quarterStaffSummary[quarter.id].staffed}}</span>
                <input ng-show="checkRole('PM')" tooltip="{{team.quarterStaffSummary[quarter.id].scheduled | number:1}} engineers scheduled" type="text" class="input-mini team-staff-level-{{checkStaffing(team.quarterStaffSummary[quarter.id])}}" ng-change="saveStaffLevel(team, quarter.id)" ng-model="team.quarterStaffSummary[quarter.id].staffed"/>

                <a href="" class="icon-search" ng-click="findFeatures(team, quarter.id)"></a>
            </form>
        </td>
        <td ng-show="checkRole('PM')"><a ng-click="showDeleteTeamModal(team)"><i class="icon-trash"></i></a></td>
    </tr>
    </tbody>
</table>

<div modal="showNewTeam" close="closeNewTeam()" options="modalOptions">
    <div class="modal-header">
        <h3>Create new team</h3>
    </div>
    <div class="modal-body">

        <form ng-submit="createTeam(newTeam)">

            <div class="controls">
                <input type="text" class="span3" ng-model="newTeam.name" autofocus="autofocus" placeholder="Name" required/>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeNewTeam()">Cancel</button>
        <button class="btn btn-primary" ng-click="createTeam(newTeam)" type="submit">Confirm</button>
    </div>
</div>

<div modal="deleteTeamModal" close="closeDeleteTeamModal()" options="modalOptions">
    <div class="modal-header">
        <h3>Delete team <em>{{selectedTeam.name}}</em>?</h3>
    </div>
    <div class="modal-body">

        <p>Are you sure you want to do this? This operation cannot be undone!</p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeDeleteTeamModal()">Cancel</button>
        <button class="btn btn-primary" ng-click="deleteTeam(selectedTeam)" type="submit">Confirm</button>
    </div>
</div>
