<a ng-click="showNewTeamModal()">Create new team</a>

<hr/>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Team</th>
        <th ng-repeat="quarter in enumQuarters">{{quarter}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams">
        <td>{{team.name}}</td>
        <td ng-repeat="quarter in enumQuarters">
            <form class="team-staff-level" ng-submit="saveStaffLevel(team, quarter)">
                {{team.quarterStaffSummary[quarter].scheduled}} /
                <input type="text" class="input-mini" ng-model="team.quarterStaffSummary[quarter].staffed"/>
                <span class="staffing-green" ng-show="checkStaffing(team.quarterStaffSummary[quarter]) == 1">+</span>
                <span class="staffing-yellow" ng-show="checkStaffing(team.quarterStaffSummary[quarter]) == 0">~</span>
                <span class="staffing-red" ng-show="checkStaffing(team.quarterStaffSummary[quarter]) == -1">-</span>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<div modal="showNewTeam" close="closeNewTeam()" options="modalOptions">
    <div class="modal-header">
        <h3>Create new team</h3>
    </div>
    <div class="modal-body">

        <form ng-submit="createTeam(newTeam)">

            <div class="controls">
                <input type="text" class="span3" ng-model="newTeam.name" autofocus="autofocus" placeholder="Name" required/>
            </div>

        </form>

        <span class="error" ng-show="error == null">{{error}}</span>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="closeNewTeam()">Cancel</button>
        <button class="btn btn-primary" ng-click="createTeam(newTeam)" type="submit">Confirm</button>
    </div>
</div>
