<div class="modal-header">
    <button class="close" ng-click="dismiss()">×</button>
    <h3>Problem #{{selectedProblem.id}}</h3>
</div>
<div class="modal-body">
    <form class="form-big-inputs">
        <input type="text" class="input-block-level" ng-model="selectedProblem.description" autofocus="true" placeholder="Problem Description">
        <input type="text" class="input-block-level" ng-model="selectedProblem.customerName" placeholder="Customer Name">
        <input type="text" class="input-block-level" ng-model="selectedProblem.customerEmail" placeholder="Customer Email">
        <input type="text" class="input-block-level" ng-model="selectedProblem.accountId" placeholder="Account ID (if known)">
        <input type="text" class="input-block-level" ng-model="selectedProblem.annualRevenue" placeholder="Account ARR / Opportunity Size">
        <input type="text" class="input-block-level" ng-model="selectedProblem.url" placeholder="URL (Optional)">
        <input type="text" tag-input ng-model="selectedProblem.tags"/>
        {{selectedProblem.tags}}
    </form>

    <span class="error" ng-show="error == null">{{error}}</span>
</div>
<div class="modal-footer">
    <a class="btn" ng-click="dismiss()">Close</a>
    <a class="btn btn-primary" ng-click="saveProblem(selectedProblem); dismiss()">Confirm</a>
</div>
