<div class="row">
    <div class="span4">
        <a href="/#/features">&#8617; Back to {{featureService.features.length}} features</a>
    </div>

    <div class="span4 quickNavLinks">
        <!-- todo: these are disabled for now because it causes double skipping next/prev -->
        <a _href="#/features/{{featureService.prevFeature.id}}" ng-show="featureService.prevFeature" ng-click="featureService.selectFeature(featureService.prevFeature, $event)">&#8592; {{featureService.prevFeature.title}}</a>
    </div>

    <div class="span4 quickNavLinks">
        <a _href="#/features/{{featureService.nextFeature.id}}" ng-show="featureService.nextFeature" ng-click="featureService.selectFeature(featureService.nextFeature, $event)">&#8594; {{featureService.nextFeature.title}}</a>
    </div>
</div>

<hr/>

<div class="row">
    <div class="span12">
        <h3>Feature {{selectedFeature.id}}</h3>
    </div>
</div>

<div class="row">
    <div class="span8">
        <form name="editFeatureForm" novalidate cmd-enter="cmdEnter()">
        
            <div ng-include="'validation.html'"></div>
        
            <div class="controls">
                <input id="editFeatureFirstInput" type="text" class="span8" ng-model="selectedFeature.title" placeholder="Feature" required>
            </div>
        
            <div class="controls controls-row">
                <textarea class="span8" rows="10" ng-model="selectedFeature.description" placeholder="Extended Description"></textarea>
            </div>

            <div class="controls controls-row">
                <select class="span2" ng-model="selectedFeature.engineeringCost" ng-options="e for e in enumSizes">
                    <option value="">Engineering cost</option>
                </select>
                <select class="span2" ng-model="selectedFeature.revenueBenefit" ng-options="e for e in enumSizes">
                    <option value="">Revenue benefits</option>
                </select>
                <select class="span2" ng-model="selectedFeature.retentionBenefit" ng-options="e for e in enumSizes">
                    <option value="">Retention benefits</option>
                </select>
                <select class="span2" ng-model="selectedFeature.positioningBenefit" ng-options="e for e in enumSizes">
                    <option value="">Positioning benefits</option>
                </select>
            </div>
        
            <div class="controls controls-row">
                <input type="hidden" class="span2" ui-select2="teamSelect2Options" ng-model="selectedFeature.team" placeholder="Team"/>
                <input type="hidden" class="span2" ui-select2="assigneeSelect2Options" ng-model="selectedFeature.assignee" placeholder="Product Manager"/>
                <select class="span2" ng-model="selectedFeature.quarter" ng-options="q.id as q.label for q in enumActiveQuarters">
                    <option value="">Unscheduled</option>
                </select>
                <select class="span2" ng-model="selectedFeature.state" ng-options="e for e in enumFeatureStates" required>
                    <option value="">Status</option>
                </select>
            </div>
        
            <div class="controls controls-row">
                <input type="text" class="span8" roadmapper-ui-select2="tagSelect2Options" ng-model="junk" roadmapper-ui-select2-model="selectedFeature.tags" placeholder="Tags"/>
            </div>
        
        </form>


        <div class="row">
            <div class="span6">
                <a href="/#/features" class="btn btn-warning cancel">Cancel</a>
                <button class="btn btn-primary" ng-click="saveFeature(selectedFeature)" ng-disabled="!checkRole('PM') || editFeatureForm.$invalid || editFeatureForm.$pristine" type="submit">Save</button>

                <span ng-show="!checkRole('PM')">
                    Note: only PMs can create/modify features
                </span>

                <img src="/img/spinner.gif" width="16" height="16" ng-show="saving"/>

                <span ng-show="saved">
                    Saved...
                </span>
            </div>
            <div class="span2" style="text-align: right">
                <div ng-show="featureService.nextFeature">
                    <button class="btn btn-secondary" ng-click="saveFeatureAndContinue(selectedFeature)" ng-disabled="!checkRole('PM') || editFeatureForm.$invalid || editFeatureForm.$pristine" type="submit">Save &raquo;</button>
                </div>
            </div>
        </div>

    </div>

    <div class="span4">

        <table>
            <tbody>
            <tr>
                <td class="metadata-label">Creator</td>
                <td><a href="mailto:{{selectedFeature.creator.email}}">{{selectedFeature.creator.name}}</a></td>
            </tr>
            <tr>
                <td class="metadata-label">Last Modified By</td>
                <td><a href="mailto:{{selectedFeature.lastModifiedBy.email}}">{{selectedFeature.lastModifiedBy.name}}</a><br/>{{selectedFeature.lastModified | date}}</td>
            </tr>
            <tr>
                <td class="metadata-label">Problems</td>
                <td><a ng-click="problemService.selectProblems(selectedFeature)">{{selectedFeature.problemCount}}</a></td>
            </tr>
            <tr>
                <td class="metadata-label">Revenue</td>
                <td><a ng-click="problemService.selectProblems(selectedFeature)">{{selectedFeature.problemRevenue | noFractionCurrency}}</a></td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

<hr/>

<div class="row">
    <div class="span8">
        <h3>Comments</h3>

        <form name="newCommentForm" novalidate cmd-enter="saveComment(newComment)">
            <div class="controls controls-row">
                <textarea class="span8" rows="3" ng-model="newComment.comment" placeholder="Have something to say?"></textarea>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="span8">
        <button class="btn btn-primary" ng-click="saveComment(newComment)" ng-disabled="newCommentForm.$invalid || newCommentForm.$pristine" type="submit">Save</button>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div ng-repeat="comment in comments | orderBy:date">
            <div class="comment-header"><i class="icon-comment"/> {{comment.user.name}} - {{comment.date | date}} <i class="icon-trash cursor" ng-show="checkEmail(comment.user.email)" ng-click="deleteComment(comment)"></i></div>
            <div class="comment-body" btf-markdown="comment.comment"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>Related Features</h3>

        <span ng-show="related.features.length == 0">
            No related features found. Try tagging your features and problems more!
        </span>

        <table class="table table-striped table-hover related-list" ng-show="related.features.length > 0">
            <thead>
            <tr>
                <th style="width: 2em"><a href="" ng-click="sortRelated('id')">ID</a></th>
                <th style="width: 2em"><a href="" ng-click="sortRelated('rank')">Rank</a></th>
                <th><a href="" ng-click="sortRelated('title')">Title</a></th>
                <th style="width: 2em" class="text-right"><a href="" ng-click="sortRelated('score')">Score</a></th>
                <th style="width: 3em" class="text-right"><a href="" ng-click="sortRelated('problemCount')">Probs</a></th>
                <th style="width: 6em" class="text-right"><a href="" ng-click="sortRelated('problemRevenue')">ARR</a></th>
                <th style="width: 2em"><a href="" ng-click="sortRelated('quarter')">Qtr</a></th>
                <th style="width: 6em"><a href="" ng-click="sortRelated('team.name')">Team</a></th>
                <th style="width: 4em"><a href="" ng-click="sortRelated('lastModified')">Mod</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feature in related.features | orderBy:related.predicate:related.reverse">
                <td>{{feature.id}}</td>
                <td>{{feature.rank | number:2}}</td>
                <td class="title">
                    <a href="#/features/{{feature.id}}" ng-click="featureService.selectFeature(feature, $event)">{{feature.title}}</a>
                </td>
                <td class="text-right"><span ng-show="feature.score > 0">{{feature.score}}</span></td>
                <td class="text-right"><a ng-click="problemService.selectProblems(feature)" ng-show="feature.problemCount > 0">{{feature.problemCount}}</a></td>
                <td class="text-right"><span ng-show="feature.problemRevenue  > 0">{{feature.problemRevenue | noFractionCurrency}}</span></td>
                <td><span tooltip="{{feature.quarter | longQuarter}}">{{feature.quarter | shortQuarter}}</span></td>
                <td>{{feature.team.name}}</td>
                <td><span tooltip="{{feature.lastModifiedBy.name}} on {{feature.lastModified | date}}" tooltip-placement="left">{{feature.lastModified | date:'MMM d'}}</span></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

        

