@(user: models.User, activeQuarters: List[util.Qtr], allQuarters: List[util.Qtr])
@import play.libs.Json
@import play.api.Play

<!DOCTYPE html>
<html ng-app="roadmapper">
<head>
    <script type="text/javascript" src="http://js.exceptional.io/exceptional.js"></script>
    <script type="text/javascript">
    Exceptional.setKey('@Play.current.configuration.getString("exceptional.key")');
    </script>

    <title>Roadmapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@routes.VersionedAssets.at("css/bootstrap.css")" rel="stylesheet" media="screen">

    <link href="@routes.VersionedAssets.at("css/main.css")" rel="stylesheet" media="screen">

    <link href="@routes.VersionedAssets.at("css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@routes.VersionedAssets.at("js/select2/select2.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.VersionedAssets.at("css/select2-bootstrap.css")" rel="stylesheet" media="screen">


    <script type="text/ng-template" id="nav.html">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ng-click="dashboard()">Roadmapper</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                                <!--<li class="active"><a ng-click="dashboard()">Dashboard</a></li>-->
                            <li><a ng-click="dashboard()">Dashboard</a></li>
                            <li><a ng-click="problems()">Problems</a></li>
                            <li><a ng-click="tags()">Tags</a></li>
                            <li><a ng-click="features()">Features</a></li>
                            <li><a ng-click="teams()">Teams</a></li>
                            <li><a ng-click="logout()">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="validation.html">
        <div class="alert alert-error" ng-show="errors.length > 0">
            <button type="button" class="close" ng-click="errors = null">&times;</button>
            <h4 ng-show="errors.length > 1">Error</h4>
            <span class="text-error" ng-repeat="error in errors">{{i18n[error]}}</span>
        </div>
    </script>

    <script type="text/javascript">
        var templateUrls = {
            dashboard: "@routes.VersionedAssets.at("templates/dashboard.html")",
            features: "@routes.VersionedAssets.at("templates/features.html")",
            newFeature: "@routes.VersionedAssets.at("templates/new-feature.html")",
            viewFeature: "@routes.VersionedAssets.at("templates/view-feature.html")",
            problems: "@routes.VersionedAssets.at("templates/problems.html")",
            profile: "@routes.VersionedAssets.at("templates/profile.html")",
            teams: "@routes.VersionedAssets.at("templates/teams.html")",
            tags: "@routes.VersionedAssets.at("templates/tags.html")"
        };

        var enumAllQuarters = [@for(qtr <- allQuarters) {{id: @qtr.id, label: "@qtr.label"},}];
        var enumActiveQuarters = [@for(qtr <- activeQuarters) {{id: @qtr.id, label: "@qtr.label"},}];;

        var enumSizes = ["@Html(Size.values().mkString("\",\""))"];
        var enumProblemStates = ["@Html(ProblemState.values().mkString("\",\""))"];
        var enumFeatureStates = ["@Html(FeatureState.values().mkString("\",\""))"];
    </script>
    <script type="text/javascript">
      var heap = heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
        heap.load("@Play.current.configuration.getString("heap.projectId")");
    </script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("@Play.current.configuration.getString("mixpanel.projectId")");</script><!-- end Mixpanel -->

    <script type="text/javascript">
    var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
    analytics.load("@Play.current.configuration.getString("segment.io.key")");
    </script>

</head>
<body>

<div id="wrap">
    <div navbar>...</div>

    <div class="container-fluid">
        <div ng-view>Loading...</div>
        <div id="push"></div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">Contact Patrick Lightbody if you have questions about this app. Thanks!</p>
    </div>
</div>

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/select2/select2.js")"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-cookies.js"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/ui-bootstrap-tpls-0.4.0.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/select2.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/en_US.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/roadmapper.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/problems.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/features.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/new-feature.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/view-feature.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/teams.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/tags.js")"></script>

<script id="IntercomSettingsScriptTag">
    var user = @Html(Json.toJson(user).toString);
    window.intercomSettings = {
        email: user.email,
        created_at: new Date(user.firstLogin).getTime()/1000,
        app_id: "@Play.current.configuration.getString("intercom.app_id")",
        "widget": {
            "activator": "#IntercomDefaultWidget"
        }
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>

</body>
</html>
