<!DOCTYPE html>
<html ng-app="roadmapper">
<head>
    <title>Roadmapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@routes.VersionedAssets.at("css/bootstrap.css")" rel="stylesheet" media="screen">

    <link href="@routes.VersionedAssets.at("css/main.css")" rel="stylesheet" media="screen">

    <link href="@routes.VersionedAssets.at("css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@routes.VersionedAssets.at("js/select2/select2.css")" rel="stylesheet" type="text/css"/>
    <link href="@routes.VersionedAssets.at("css/select2-bootstrap.css")" rel="stylesheet" media="screen">


    <script type="text/ng-template" id="nav.html">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ng-click="dashboard()">Roadmapper</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                                <!--<li class="active"><a ng-click="dashboard()">Dashboard</a></li>-->
                            <li><a ng-click="dashboard()">Dashboard</a></li>
                            <li><a ng-click="problems()">Problems</a></li>
                            <li><a ng-click="features()">Features</a></li>
                            <li><a ng-click="teams()">Teams</a></li>
                            <li><a ng-click="logout()">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="validation.html">
        <div class="alert alert-error" ng-show="errors.length > 0">
            <button type="button" class="close" ng-click="errors = null">&times;</button>
            <h4 ng-show="errors.length > 1">Error</h4>
            <span class="text-error" ng-repeat="error in errors">{{i18n[error]}}</span>
        </div>
    </script>

    <script type="text/javascript">
        var templateUrls = {
            dashboard: "@routes.VersionedAssets.at("templates/dashboard.html")",
            features: "@routes.VersionedAssets.at("templates/features.html")",
            problems: "@routes.VersionedAssets.at("templates/problems.html")",
            profile: "@routes.VersionedAssets.at("templates/profile.html")",
            teams: "@routes.VersionedAssets.at("templates/teams.html")"
        };

        var enumQuarters = ["@Html(Quarter.values().mkString("\",\""))"];
        var enumSizes = ["@Html(Size.values().mkString("\",\""))"];
        var enumProblemStates = ["@Html(ProblemState.values().mkString("\",\""))"];
        var enumFeatureStates = ["@Html(FeatureState.values().mkString("\",\""))"];
    </script>
    <script type="text/javascript">
      var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
        heap.load("1171482633");
    </script></head>
<body>

<div id="wrap">
    <div navbar>...</div>

    <div class="container-fluid">
        <div ng-view>Loading...</div>
        <div id="push"></div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="muted credit">Contact Patrick Lightbody if you have questions about this app. Thanks!</p>
    </div>
</div>

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/select2/select2.js")"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-cookies.js"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/ui-bootstrap-tpls-0.4.0.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/select2.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/en_US.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/roadmapper.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/problems.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/features.js")"></script>
<script type="text/javascript" src="@routes.VersionedAssets.at("js/teams.js")"></script>

</body>
</html>
